body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#quote-box {
    background: #fff;
    max-width: 400px;
    color: rgb(9, 0, 0);
    padding: 2em;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transition: all .2s ease-in-out;
    transform: translate(-50%, -50%);
    -webkit-animation: quote-box 1.5s ease-in-out infinite alternate;
    -moz-animation: quote-box 1.5s ease-in-out infinite alternate;
    animation: quote-box 2.5s ease-in-out infinite alternate;
}


@keyframes quote-box {
    from {
        box-shadow: 0 0 1px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073;
    }
    
    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 190px #ff4da6;
    }
}

@media only screen and (max-width: 600px) {
    #quote-box {
        max-width: 80vw;
    }
}